.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: white;
    border-top: 1px solid #e7e7e7;
    padding: 2rem 1.5rem 2rem !important;
 }
 