.columns-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.columns-fields {
    margin-top: auto;
}
.hidden {
    display: none;
}
.input {
    width: auto;
}
.select.is-fullwidth select {
    width: auto;
}
.select select {
    padding-right: 10em;
}