<div id="series_graph" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title is-size-5">{{assetCode}}
      </p>
      <div class="close">
        <button class="delete" aria-label="close" (click)="toggleModal(false)"></button>
      </div>
    </header>
    <section class="modal-card-body">
      <div *ngIf="showSpinner" class="app-loading">
        &nbsp;
        <svg class="spinner" viewBox="0 0 100 100">
          <circle class="path" cx="50%" cy="50%" r="10" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
      </div>
      <div *ngIf='!showSpinner && showGraph' class="columns is-mobile">
        <div class="field">
          <div *ngIf='readings' class="select is-small">
            <select #selectedKey (change)="setReading(selectedKey.value)">
              <option *ngFor="let reading of readings" [value]='reading' [selected]="readingKey == reading">{{reading}}</option>
            </select>
          </div>
        </div>&nbsp;&nbsp;&nbsp;
        <div class="field has-addons">
          <p class="control">
            <app-number-input-debounce placeholder="time" (value)="setTimeValue($event)" [val]="timeValue"></app-number-input-debounce>
          </p>
          <p class="control">
            <span class="select is-small">
              <select #selectedTime (change)="setGroup(selectedTime.value)">
                <option value="minutes" [selected]="optedGroup == 'minutes'">minutes</option>
                <option value="hours" [selected]="optedGroup == 'hours'">hours</option>
                <option value="seconds" [selected]="optedGroup == 'seconds'">seconds</option>
              </select>
            </span>
          </p>
        </div>  
      </div>
      <p *ngIf='isOutOfRange' class='help is-danger'>Time must be in range 1 - {{MAX_RANGE}}</p>
      <p *ngIf='!showGraph'> Not Available </p>
      <app-chart *ngIf='showGraph' [type]="assetChartType" [data]="assetReadingValues" [options]="assetChartOptions"
        #assetChart></app-chart>
    </section>
  </div>
</div>