<div id="series_graph" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title is-size-5">{{assetCode}}
      </p>
      <div class="close">
        <button class="delete" aria-label="close" (click)="toggleModal(false)"></button>
      </div>
    </header>
    <section class="modal-card-body">
      <div class="columns">
        <div class="column">
          <div *ngIf='readings' class="field">
            <div *ngIf='readings.length > 1' class="select is-small is-fullwidth">
              <select #selectedKey (change)="setReading(selectedKey.value)">
                <option *ngFor="let reading of readings" [value]='reading' [selected]="readingKey == reading">{{reading}}</option>
              </select>
            </div>
            <label *ngIf="readings.length == 1">{{readings[0]}}</label>
          </div>
        </div>
        <div class="column">
          <div class="field has-addons">
            <p class="control">
              <app-number-input-debounce placeholder="(default) 10" (value)="setTimeValue($event)" [val]="timeValue"></app-number-input-debounce>
            </p>
            <p class="control">
              <span class="select is-small">
                <select #selectedTimeUnit (change)="setTimeUnit(selectedTimeUnit.value)">
                  <option value="minutes" [selected]="timeUnit == 'minutes'">minutes</option>
                  <option value="hours" [selected]="timeUnit == 'hours'">hours</option>
                  <option value="seconds" [selected]="timeUnit == 'seconds'">seconds</option>
                </select>
              </span>
            </p>
          </div>
        </div>
        <div class="column">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-small is-static">
                Group By
              </a>
            </p>
            <p class="control">
              <span class="select is-small">
                <select #selectedTime (change)="setGroup(selectedTime.value)">
                  <option value="minutes" [selected]="optedGroup == 'minutes'">minutes</option>
                  <option value="hours" [selected]="optedGroup == 'hours'">hours</option>
                  <option value="seconds" [selected]="optedGroup == 'seconds'">seconds</option>
                </select>
              </span>
            </p>
          </div>
        </div>
      </div>
      <div *ngIf="showSpinner" class="app-loading">
        &nbsp;
        <svg class="spinner" viewBox="0 0 100 100">
          <circle class="path" cx="50%" cy="50%" r="10" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
      </div>
      <p *ngIf='isOutOfRange' class='help is-danger'>Time must be in range 1 - {{MAX_RANGE}}</p>
      <p *ngIf='!showGraph'> Not Available </p>
      <app-chart *ngIf='!showSpinner && showGraph' [type]="assetChartType" [data]="assetReadingValues" [options]="assetChartOptions"
        #assetChart></app-chart>
    </section>
  </div>
</div>