table.scroll {
    height: 300px;
}

.cancel-btn {
    height: 3.25em;
}

.fade {
    background-color:#f5f5f5
}

@media screen and (min-width: 769px) {
    table.scroll {
      max-height: 60vh;
    }
  }
  
@media screen and (max-width: 769px) {
    table.scroll {
      max-height: 50vh;
    }
}