.media-content {
    overflow: hidden;
}

.s-log {
  font: normal normal normal normal 14px monospace;
  box-sizing: border-box;
  visibility: visible;
  position: relative;
  bottom: 0px;
  margin: 0px;
  padding: 4px;
  background: white;
}

.pagination-section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media screen and (min-width: 769px) {
  .card-content {
    max-height: 65vh;
  }
}

@media screen and (max-width: 769px) {
  .card-content {
    max-height: 55vh;
  }
}
