<div id="south-service-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p *ngIf="notification != undefined" class="modal-card-title is-size-5">{{notification.name}}</p>
      <button class="delete" aria-label="close" (click)="toggleModal(false)"></button>
    </header>
    <section class="modal-card-body">
      <ng-container *ngIf="!isWizard">
         <div class="box">
          <app-view-config-item *ngIf="category" [categoryConfigurationData]="category" [useProxy]="useProxy"
            [pageId]="'modal'"></app-view-config-item>
          <hr>
          <div class="columns">
            <div class="column">
              <div class="field">
                <app-view-config-item *ngIf="ruleConfiguration" [categoryConfigurationData]="ruleConfiguration" [useProxy]="useProxy"
                  [pageId]="'modal'"></app-view-config-item>
              </div>
            </div>
          </div>
          <hr>
          <div class="columns">
            <div class="column">
              <div class="field">
                <app-view-config-item *ngIf="deliveryConfiguration" [categoryConfigurationData]="deliveryConfiguration" [useProxy]="useProxy"
                  [pageId]="'modal'"></app-view-config-item>
              </div>
            </div>
          </div>
          <hr>
          <ng-container *ngIf="notification != undefined">
            <p class="buttons is-pulled-right">
              <button
                (click)="openDeleteModal(service.management_port, service.protocol, service.name, 'Warning: Deleting this notification can not be undone. Continue', 'deleteNotification')"
                class="button is-small">Delete Notification</button>
            </p>
          </ng-container>
        </div>
      </ng-container>
    </section>
  </div>
  <app-alert-dialog (deleteService)='deleteService($event)' [serviceRecord]='serviceRecord'></app-alert-dialog>
</div>
