.panel{
  margin-top: 10px; 
}

thead {
  text-align: center;
}

select {
  width: 200px;
}

@media screen and (max-width: 769px) {
  table.scroll {
    height: 220px;
  }
}
@media screen and (min-width: 1024px) {
  table.scroll {
    height: 300px;
  }
}
@media screen and (min-width: 1216px) {
  table.scroll {
    height: 350px;
  }
}
@media screen and (min-width: 1408px) {
  table.scroll {
    height: 600px;
  }
}