<div id="graph_modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title is-size-5">{{assetCode}}
      </p>
      <div class="close">
        <button class="delete" aria-label="close" (click)="toggleModal(false)"></button>
      </div>
    </header>
    <section class="modal-card-body">
      <div class="columns">
        <div class="column">
          <div class="field has-addons">
            <p class="control">
              <app-number-input-debounce placeholder="time (default 10)" (value)="setTimeValue($event)" [val]="timeValue"></app-number-input-debounce>
            </p>
            <p class="control">
              <span class="select is-small">
                <select #selectedTime (change)="setGroup(selectedTime.value)">
                  <option value="minutes" [selected]="optedGroup == 'minutes'">minutes</option>
                  <option value="hours" [selected]="optedGroup == 'hours'">hours</option>
                  <option value="seconds" [selected]="optedGroup == 'seconds'">seconds</option>
                </select>
              </span>
            </p>
          </div>
          <app-readings-graph></app-readings-graph>
        </div>
        <div class="column">
          <div *ngIf='readings' class="field">
            <div *ngIf='readings.length > 1' class="select is-small is-fullwidth">
              <select #selectedKey (change)="setReading(selectedKey.value)">
                <option *ngFor="let reading of readings" [value]='reading' [selected]="readingKey == reading">{{reading}}</option>
              </select>
            </div>
            <label *ngIf="readings.length == 1">{{readings[0]}}</label>
          </div>
          <app-series-graph></app-series-graph>
        </div>
      </div>
    </section>
  </div>
</div>